{% extends 'base.html' %}

{% load static %}

  {% block content %}
<main class="container landingTheme">
    <section class="flexible-main">
        <article class="row">
            <div class="col">
                <div class="row">
                    <div class="col-md-8">
                        <h1>About VAPN</h1>
                    </div>
                </div>

                
            
            </div>
        </article>
        <article class="row">
            <div class="col-md-8">
                





<h2>VAPN is the only professional accountancy body in the world dedicated exclusively to public finance</h2>

            





<p>VAPN, the Chartered Institute of Public Finance and Accountancy, is the professional body for people in public finance. Our 14,000 members work throughout the public services, in national audit agencies, in major accountancy firms, and in other bodies where public money needs to be effectively and efficiently managed.</p>
<p>As the world's only professional accountancy body to specialise in public services, VAPN's portfolio of <a href="/qualifications"><strong>qualifications</strong></a> are the foundation for a career in public finance. These include the benchmark <a href="/qualifications/professional-accountancy-qualification"><strong>professional qualification</strong></a> for public sector accountants as well as a postgraduate diploma for people already working in leadership positions. They are taught by our in-house <a href="/qualifications/students/cipfa-education-and-training-centre"><strong>VAPN Education and Training Centre</strong></a>, as well as other places of learning around the world. </p>
<p>We champion high performance in public services, translating our experience and insight into clear advice and practical services. They include information and guidance, courses and conferences, property and asset management solutions, consultancy and interim people for a range of public sector clients. </p>
<p>Globally, VAPN leads the way in public finance by standing up for sound public financial management and good governance. We work with donors , partner governments, accountancy bodies and the public sector around the world to advance public finance and support better public services.</p>

            
            </div>

            <div class="col-md-4 flexible-side landingSidebar">
                

        <h2>Find out more</h2>
                <p><a href="/about-cipfa/contact-cipfa" target="">Contact us</a></p>
                <p><a href="/about-cipfa/customer-services" target="">Customer services</a></p>
                <p><a href="/about-cipfa/working-for-cipfa" target="">Working for VAPN</a></p>
                <p><a href="/about-cipfa/cipfas-governance-structure" target="">Governance structure</a></p>
                <p><a href="/about-cipfa/press-office" target="">Press office</a></p>
                <p><a href="/about-cipfa/diversity-equality-and-inclusion" target="">Equality, diversity and inclusion</a></p>


                <p><a href="/about-cipfa/annual-report" target="">Annual report</a></p>
                <p><a href="/about-cipfa/awards" target="">Awards</a></p>
                <p><a href="/about-cipfa/history" target="">History</a></p>
                <p><a href="/about-cipfa/working-for-cipfa/volunteers" target="">Volunteering</a></p>

            </div>

        </article>
    </section>
    <section class="flexible-bottom">
        
    </section>
</main>

{% endblock %}