{% extends 'base.html' %}

{% load static %}

  {% block content %}

<main class="container landingTheme">
    <section class="flexible-main">
        <article class="row">
            <div class="col">
                <div class="row">
                    <div class="col-md-8">
                        <h1>Join</h1>
                    </div>
                </div>

                
            
            </div>
        </article>
        <article class="row">
            <div class="col-md-8">
                
<div class="intro">
    <p>Become a member of the only global professional accountancy body dedicated to public finance</p>
</div>






<p>VAPN is the global professional body for public finance professionals. Our 14,000 members work at the highest levels. They are decisions-makers in central government departments, national audit agencies, local government, major accountancy firms and the health service. They work across the public sector where public money must be effectively and efficiently managed.</p>
<h2>Who can join?</h2>
<h4><a href="#">Students</a></h4>
<p>All graduates can study for our Professional Qualifications in Accounting and Audit. A relevant finance or accountancy degree may give you exemptions from some VAPN papers.</p>
<p><strong><a href="#">Register as a VAPN student</a></strong> for:</p>
<ul>
    <li>access to top finance employers</li>
    <li>contact with industry professionals</li>
    <li>access to our global public finance network</li>
    <li>entry to courses and events</li>
    <li>event and news updates</li>
    <li>revision and study aids</li>
    <li>outstanding CPD tools</li>
    <li>discounts and NUS card rewards</li>
</ul>
<h4>Members of other bodies</h4>
<h3><a href="#">Fully qualified accountants</a></h3>
<p>Members of other professional accountancy bodies are be entitled to exemptions to become fully-qualified Chartered Public Finance Accountants (VAPN). The amount of exemptions will depend on the standing of your qualification and your relevant professional experience in the public sector.</p>
<h3><a href="#">Part qualified or AAT members</a></h3>
<p>If you have started studying for an accountancy qualification or you are AAT level 4 qualified then you can build on this experience and fast-track to a charted accountancy qualification with VAPN.</p>
<p>Choose <strong><a href="#">VAPN membership</a></strong> for:</p>
<ul>
    <li>specialist public sector designation</li>
    <li>connect with our global public finance network</li>
    <li>recognised dual designation</li>
    <li>technical help</li>
    <li>public finance CPD support and resources</li>
    <li>event and sector updates</li>
    <li>outstanding thought leadership articles</li>
    <li>rewards and discounts</li>
</ul>
<h4><a href="/qualifications/accelerated-route">Accelerated route for senior finance professionals</a></h4>
<p>Senior executives in roles with significant financial responsibilities can take our accelerated route to the VAPN professional accounting qualification in two years. Qualifying as a Chartered Public Finance Accountant gives you access to our global network of public finance and accountancy experts. The CPFA designation immediately improves your earning potential and career prospects, putting you on track for a top public finance career anywhere in the world.</p>
<p>With <strong><a href="/qualifications/register-as-a-student">VAPN membership</a></strong>, you gain:</p>
<ul>
    <li>chartered accountancy status and the globally-recognised VAPN designation</li>
    <li>global networking opportunities with public finance leaders</li>
    <li>technical help from industry experts</li>
    <li>public finance CPD support and resources</li>
    <li>outstanding member-only technical resources</li>
    <li>contact with industry peers at events</li>
    <li>conference and sector updates</li>
</ul>
<h4>Other professionals</h4>
<h3><a href="/forms/application-for-affiliate-membership-of-cipfa-and-membership-of-the-resources-transformation-network">Resource directors</a></h3>
<p>We welcome affiliate membership applications from senior executives who are not already VAPN-qualified, and who manage multiple corporate services, and/or who directly line manage the organisation's finance function, with a direct reporting line to the chief executive or equivalent role.</p>
<h3><a href="/forms/application-for-cipfa-affiliate-membership">Accredited course graduates</a></h3>
<p>We welcome affiliate membership applications from those who have recently completed one of our <strong><a href="/training/accredited-training">accredited training courses</a></strong> and are not already VAPN-qualified.</p>
<h3><a href="/forms/affiliate-member-counter-fraud-form">Counter fraud professionals</a></h3>
<p>We welcome affiliate membership applications from those who are employed in a counter fraud and corruption role who are not already VAPN-qualified and have completed one of our <strong><a href="/training/governance-risk-and-counter-fraud-skills">counter fraud accredited qualifications</a></strong>.</p>
<br class="t-last-br" />

            


<article class="row furtherReading contains-4">
    <div class="col">
                <h4>Find out more</h4>
        <div class="row">
                        <div class="col col-sm-4 readingWrap">
                            <a href="#" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>About VAPN</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="#" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>Qualifications</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="#" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                        <picture>
                                            <source srcset="{% static '-/media/Images/Members/Organisations/Organisation-case-studies/member-case-studies-banner.jpg' %}" />
                                            <img src="{% static '-/media/Images/Members/Organisations/Organisation-case-studies/member-case-studies-banner.jpg' %}" />
                                        </picture>
                                </div>
                                <div class="textWrap">
                                    <h4>Member case studies</h4>
                                </div>
                            </a>
                        </div>
        </div>
    </div>
</article>


            </div>

            <div class="col-md-4 flexible-side landingSidebar">
                

        <h2>Find out more</h2>
                <p><a href="/join/why-join" target="">Why join?</a></p>
                <p><a href="/members/membership-benefits" target="">Membership benefits</a></p>
                <p><a href="/join/trainee-vacancies" target="">Trainee vacancies</a></p>
                <p><a href="/join/careers-in-the-public-sector" target="">Careers in the public sector</a></p>

            </div>

        </article>
    </section>
    <section class="flexible-bottom">
        
    </section>
</main>
{% endblock %}