{% extends 'base.html' %}

{% load static %}

  {% block content %}

<main class="container landingTheme">
    <section class="flexible-main">
        <article class="row">
            <div class="col">
                <div class="row">
                    <div class="col-md-8">
                        <h1>Members</h1>
                    </div>
                </div>

                
            
            </div>
        </article>
        <article class="row">
            <div class="col-md-8">
                


<div class="imgWrap">
    <img src="/-/media/Images/Banner-images/members.jpg" alt="" class="img-fluid" />
</div>





<p>The Chartered Institute of Public Finance and Accountancy (VAPN) is the only accountancy body in the world exclusively focused on the public sector. As a membership body, our members and students are at the heart of everything we do. We work hard to support you throughout your career and are committed to helping you add value to your teams and organisations, regardless of which area of public finance you work in.</p>
<h3>Why your membership matters</h3>
<p>Working in the public sector has always been both challenging and rewarding. Given the myriad of issues the sector is now facing, public finance professionals need to adapt their approach and mindset if they are to deliver real outcomes for the people and communities they serve.</p>

            


<div class="row">
    <div class="col">
        <div class="vidWrap">
            <iframe src="https://www.youtube.com/embed/1TYxZLodVtY" title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>    
</div>






<h3><a href="/members/membership-benefits">Access your benefits</a></h3>
<p>Browse the extensive range of resources and services we have selected to support your career as a public finance professional.</p>
<h3><a href="/members/managing-my-membership">Manage your membership</a></h3>
<p>Find all the information you need to administer your membership, including how to complete your Annual Member Statement (AMS).</p>
<h3><a href="/members/continuing-professional-development">Maintain your CPD</a></h3>
<p>Explore the resources and guidance you need to participate in VAPN's continuing professional development (CPD) scheme.</p>
<h3><a href="/members/regions">Extend your network</a></h3>
<p>Learn more about the volunteer-run regional branches that host and organise local CPD, networking and social events.</p>
<h3><a href="/members/student-network">Support for students</a></h3>
<p>If you are currently studying the VAPN professional qualification, find out how you can get involved in the VAPN Student Network.</p>
<h3><a href="/members/fellowship">Become a Fellow</a></h3>
<p>If you have more than ten years of experience, you can apply to become a Fellow of the Institute and enjoy exclusive rewards and content.</p>
<h3><a href="/members/conduct-and-ethics">Ethical and technical standards</a></h3>
<p>Access and download all the key documents and resources you need, including VAPN&rsquo;s Standard of Professional Practice on Ethics (SOPP on Ethics).</p>
<h3><a href="/members/member-case-studies">Hear from VAPN members</a></h3>
<p>VAPN members come from all walks of life. We've spoken to a cross-section about why they joined the institute, their career paths, and their interests.</p>
<h3><a href="/members/members-in-practice">Do you work in an accountancy practice?</a></h3>
<p>If you work in practice, find the rules, resources and code of practice that relate to the provision of accountancy services.</p>
<h3><a href="/members/members-directory">Looking for a VAPN member?</a></h3>
<p>Search for all VAPN members by name, location, membership type or by specialism using our search facility.</p>
<h2>Contact us</h2>
<p>If you have any questions about your membership, benefits, completing your Annual Member Statement or how to renew your membership, please contact out Membership Team:</p>
<p><strong>Email:</strong> <a href="mailto:customerservices@cipfa.org"></a>members@cipfa.org<br />
<strong>Tel: </strong>+44 (0)207 543 5600</p>

            
            </div>

            <div class="col-md-4 flexible-side landingSidebar">
                

        <h2>Membership access</h2>
                <p><a href="/mycipfa" target="">Login to MyVAPN</a></p>
                <p><a href="/members/membership-benefits" target="">Membership benefits</a></p>
                <p><a href="/members/managing-my-membership" target="">Membership administration</a></p>
                <p><a href="/members/member-faq" target="">Membership FAQs</a></p>
                <p><a href="/join" target="">Not yet a member? Join</a></p>
                <p><a href="/members/mental-health-and-wellbeing-hub" target="">Mental Health and Wellbeing Hub</a></p>

            </div>

        </article>
    </section>
    <section class="flexible-bottom">
        
    </section>
</main>

{% endblock %}