{% extends 'base.html' %}

{% load static %}

  {% block content %}
<main class="container landingTheme">
    <section class="flexible-main">
        <article class="row">
            <div class="col">
                <div class="row">
                    <div class="col-md-8">
                        <h1>Our partners</h1>
                    </div>
                </div>

                
            
            </div>
        </article>
        <article class="row">
            <div class="col-md-8">
                


<div class="imgWrap">
    <img src="/-/media/Images/Partners/Partners-homepage.jpg" alt="" class="img-fluid" />
</div>
<div class="intro">
    <p>VAPN works with various organisations in the sphere of public sector finance</p>
</div>






<h2>The Society of Municipal Treasurers</h2>
<p>The Society of Municipal Treasurers includes members representing metropolitan, unitary, London boroughs, and combined authorities. The aim of the SMT is to build a professional network of S151 officers, to provide mutual support and discuss key issues relating to municipal treasurers.</p>
<h2>Government Property Profession</h2>
<p>Government Property Profession understands that managing public sector property estates effectively delivers value for money, enhances public services and creates wider economic, environmental and social outcomes for local communities. Members of the Government Property Profession are offered access to the full range of network events VAPN Property organises both within the Asset Management Network and CPAS Network.</p>
<h2>The Society of District Council Treasurer</h2>
<p>The Society of District Council Treasurer represent the interests of district council finance on a national level. The executive committee comprises up to 21 of the district council chief finance officers (S151), who take responsibility for advising and leading on specific areas relevant to the finance profession.</p>
<h2>The Society of London Treasurers</h2>
<p>The Society of London Treasurers is a group made up of the section 151 officers from all 32 London boroughs, the city and the GLA Group.&nbsp;The aim of the society is to represent the interest of London on key local government financial matters.</p>
<div>&nbsp;</div>
<div>&nbsp;</div>

            


<article class="row furtherReading contains-2">
    <div class="col">
        <div class="row">
                        <div class="col col-sm-4 readingWrap">
                            <a href="/partners/society-of-municipal-treasurers" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                        <picture>
                                            <source srcset="/-/media/Images/Partners/Society-of-Municipal-Treasurers/SMT-LOGO.jpg" />
                                            <img src="/-/media/Images/Partners/Society-of-Municipal-Treasurers/SMT-LOGO.jpg" class="" />
                                        </picture>
                                </div>
                                <div class="textWrap">
                                    <h4>Society of Municipal Treasurers</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/partners/government-property-profession" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>Government Property Profession</h4>
                                </div>
                            </a>
                        </div>
        </div>
    </div>
</article>




<article class="row furtherReading contains-2">
    <div class="col">
        <div class="row">
                        <div class="col col-sm-4 readingWrap">
                            <a href="/partners/society-of-district-council-treasurers" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                        <picture>
                                            <source srcset="/-/media/Images/Partners/Society-of-District-Council-Treasurers/socdct_logo_icon.png" />
                                            <img src="/-/media/Images/Partners/Society-of-District-Council-Treasurers/socdct_logo_icon.png" class="" />
                                        </picture>
                                </div>
                                <div class="textWrap">
                                    <h4>Society of District Council Treasurers</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/partners/society-of-london-treasurers" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                        <picture>
                                            <source srcset="/-/media/Images/Partners/Society-of-London-Treasurers/slt-logo.png" />
                                            <img src="/-/media/Images/Partners/Society-of-London-Treasurers/slt-logo.png" class="" />
                                        </picture>
                                </div>
                                <div class="textWrap">
                                    <h4>Society of London Treasurers</h4>
                                </div>
                            </a>
                        </div>
        </div>
    </div>
</article>


            </div>

            <div class="col-md-4 flexible-side landingSidebar">
                

        <h2>Related links</h2>
                <p><a href="/members/membership-benefits" target="">Membership Benefits</a></p>
                <p><a href="/members/regions" target="">Regions</a></p>
                <p><a href="/members/fellowship" target="">Fellowship</a></p>

            </div>

        </article>
    </section>
    <section class="flexible-bottom">
        
    </section>
</main>
{% endblock %}