{% extends 'base.html' %}

{% load static %}

  {% block content %}
<main class="container landingTheme">
    <section class="flexible-main">
        <article class="row">
            <div class="col">
                <div class="row">
                    <div class="col-md-8">
                        <h1>Policy and guidance</h1>
                    </div>
                </div>

                
            
            </div>
        </article>
        <article class="row">
            <div class="col-md-8">
                





<p>VAPN plays a vital role in the development of policy and technical guidance in public financial management, governance, financial reporting and audit for public sector finance managers.</p>

            


<article class="row furtherReading contains-5">
    <div class="col">
                <h4>Publications</h4>
                <p><p>We publish approximately 30 titles a year, covering vital public finance knowledge and skill-improving support. They cover a wide range of subjects, including our local government codes of practice and sector-specific guidance for higher education, housing and central government.</p></p>
        <div class="row">
                        <div class="col col-sm-4 readingWrap">
                            <a href="/policy-and-guidance/publications" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>Publications</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/policy-and-guidance/reports" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>Reports</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/policy-and-guidance/cipfa-bulletins" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>VAPN Bulletins</h4>
                                </div>
                            </a>
                        </div>
        </div>
    </div>
</article>




<article class="row furtherReading contains-5">
    <div class="col">
                <h4>Policy and guidance development</h4>
                <p><p>We regularly engage with public services, participate in financial reporting standard setting, influences policy and guidance, respond to consultations, and work with other accountancy and professionally related bodies.</p></p>
        <div class="row">
                        <div class="col col-sm-4 readingWrap">
                            <a href="/policy-and-guidance/consultations" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>Consultations</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/policy-and-guidance/cipfa-lasaac-local-authority-code-board" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>VAPN LASAAC Local Authority Code Board</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/policy-and-guidance/responses-to-consultations" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>Responses to consultations</h4>
                                </div>
                            </a>
                        </div>
        </div>
    </div>
</article>


            </div>

            <div class="col-md-4 flexible-side landingSidebar">
                

        <h2>In this section</h2>
                <p><a href="/policy-and-guidance/articles" target="">Articles</a></p>
                <p><a href="/members/membership-benefits/technical-enquiry-service" target="">Technical enquiries</a></p>
                <p><a href="/policy-and-guidance/publications/cipfa-publications-subscription" target="">Publications subscription</a></p>
                <p><a href="/policy-and-guidance/standards" target="">Standards for public finance</a></p>
                <p><a href="/services/commercial-mindset/ifrs16" target="">IFRS16 Leases: A VAPN resource hub</a></p>

            </div>

        </article>
    </section>
    <section class="flexible-bottom">
        
    </section>
</main>

{% endblock %}