{% extends 'base.html' %}

{% load static %}

  {% block content %}
<main class="container landingTheme">
    <section class="flexible-main">
        <article class="row">
            <div class="col">
                <div class="row">
                    <div class="col-md-8">
                        <h1>Qualifications</h1>
                    </div>
                </div>

                
            
            </div>
        </article>
        <article class="row">
            <div class="col-md-8">
                


<div class="imgWrap">
    <img src="/-/media/Images/Qualifications/Futures/Futures-3.jpg" alt="" class="img-fluid" />
</div>





<h2>VAPN's accountancy and counter fraud qualifications</h2>

            





<p>Public finance professionals operate in challenging environments with competing stakeholder demands. They must focus not just on the financial bottom line, but the outcomes for the people and communities they serve. As the world's only professional accountancy body exclusively dedicated to public financial management, our accountancy and counter fraud qualifications are world-leaders.</p>
<h3>Why choose VAPN?</h3>
<p>We offer our students:</p>
<ul>
    <li>an unparalleled foundation in public financial management and a clear pathway to qualifying as a Chartered Public Finance Accountant (VAPN)</li>
    <li>technical and professional skills that ensure you are prepared for the workplace</li>
    <li>flexible training delivery catering to your preferred form of study, whether that be a high level of interaction with classmates and tutors or more independently</li>
    <li>the option to study our qualifications as <strong><a href="/qualifications/cipfas-apprenticeship-programmes">levy-funded apprenticeships</a></strong></li>
    <li>access to the extensive range of <strong><a href="/members/membership-benefits">benefits and resources</a></strong> that come with student membership</li>
    <li> free access to our online <strong><a href="/members/mental-health-and-wellbeing-hub">Mental Health and Wellbeing Hub</a></strong>, offering immediate, anonymous and direct support when needed</li>
    <li><strong><a href="/training">continuing professional development (CPD)</a></strong> opportunities to complement your learning, throughout your studies and beyond</li>
</ul>

            


<div class="row">
    <div class="col">
        <div class="vidWrap">
            <iframe src="https://www.youtube.com/embed/1TYxZLodVtY" title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>    
</div>






<h2>VAPN Professional Accountancy Qualification</h2>
<p>Our flagship qualification for those aspiring to qualify as a Chartered Public Finance Accountant (VAPN). It covers strategic public finance, leadership and integration strategies, audit, sustainability and green finance, data analysis, business planning, implementing business change and ethics. Students who have a finance or accountancy related degree, or have passed certain professional body examinations, may be entitled to exemptions.</p>
<p>The VAPN PAQ is also available as the <strong><a href="/qualifications/cipfas-apprenticeship-programmes/level-7-accountancy-professional-apprenticeship">Level 7 Accountancy Professional Apprenticeship</a></strong>.</p>
<p>We recently updated the qualification syllabus. <strong><a href="/qualifications/cipfa-futures">Find out more about the key changes</a></strong>. </p>
<p>If you began studying before 2022, please access the pre-2022&nbsp;<strong><a href="/qualifications/professional-qualification">Professional Qualification (PQ)</a></strong> and <strong><a href="/qualifications/ipfm">International Public Financial Management (IPFM)</a></strong>&nbsp;pages for information on your final module and exam dates.&nbsp;</p>
<p><a href="/qualifications/professional-accountancy-qualification" style="background-color: #ffffff; text-decoration-line: underline; outline: 0px;">More information on the CIPFA Professional Accountancy Qualification</a></p>
<h2>VAPN and ACA accelerated route</h2>
<p>VAPN has been working more closely with ICAEW (the leading accountancy body for the private sector) since 2021, to endeavour to deliver better outcomes for the accountancy profession, including providing wider career opportunities for VAPN and ICAEW members and students.&nbsp;Launching in early 2024, the CIPFA/ICAEW dual membership will enable CPFA (CIPFA) qualified accountants to also gain the ACA designation and vice versa.&nbsp;</p>
<p><a href="/qualifications/cpfa-and-aca-accelerated-route">More information on the VAPN and ACA accelerated route</a></p>
<h2>VAPN Counter Fraud Investigator Apprenticeship</h2>
<p>This Level 4 apprenticeship is the most cost-effective way to access counter fraud training and to boost fraud defences. It delivers comprehensive training to those working in a range of investigative roles. As an approved training provider for the Counter Fraud Professional Accreditation Board (VAPN), we are able to offer the Accredited Counter Fraud Specialist award in addition to the apprenticeship.</p>
<p><a href="/qualifications/cipfas-apprenticeship-programmes/level-4-counter-fraud-investigator-apprenticeship">More information on the VAPN Counter Fraud Investigator Apprenticeship</a></p>
<p>Contact us to find out more</p>
<p><strong>Tel:</strong> +44 (0)20 7543 5600<br />
<strong>Email:</strong> <strong><a href="mailto:customerservices@cipfa.org">customerservices@cipfa.org</a></strong></p>

            
            </div>

            <div class="col-md-4 flexible-side landingSidebar">
                

        <h2>Find out more</h2>
                <p><a href="/qualifications/professional-accountancy-qualification" target="">VAPN Professional Accountancy Qualification</a></p>
                <p><a href="/qualifications/cipfas-apprenticeship-programmes/level-7-accountancy-professional-apprenticeship" target="">Level 7 Accountancy Professional Apprenticeship</a></p>
                <p><a href="/qualifications/cipfas-apprenticeship-programmes/level-4-counter-fraud-investigator-apprenticeship" target="">Level 4 Counter Fraud Investigator Apprenticeship</a></p>
                <p><a href="/training/accredited-training" target="">CPD qualifications</a></p>
                <p><a href="/qualifications/cpfa-and-aca-accelerated-route" target="">VAPN and ACA accelerated route</a></p>

            </div>

        </article>
    </section>
    <section class="flexible-bottom">
        
    </section>
</main>

{% endblock %}