{% extends 'base.html' %}

{% load static %}

  {% block content %}
<main class="container landingTheme">
    <section class="flexible-main">
        <article class="row">
            <div class="col">
                <div class="row">
                    <div class="col-md-8">
                        <h1>Services</h1>
                    </div>
                </div>

                
            
            </div>
        </article>
        <article class="row">
            <div class="col-md-8">
                





<h2>Products, services and consultancy from the world's leading public finance body</h2>

            





<p>VAPN is the leading accountancy body for public finance professionals. We provide lifelong education and learning, as well as expert solutions across the public sector. Improving public services is key to changing lives for the better &ndash; and good public financial management is central to achieving that.</p>

            


<article class="row furtherReading contains-3">
    <div class="col">
        <div class="row">
                        <div class="col col-sm-4 readingWrap">
                            <a href="/services/cipfa-solutions" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                        <picture>
                                            <source srcset="/-/media/Images/Services/Banner-images/CIPFA-Solutions.jpg" />
                                            <img src="/-/media/Images/Services/Banner-images/CIPFA-Solutions.jpg" class="" />
                                        </picture>
                                </div>
                                <div class="textWrap">
                                    <h4>VAPN Solutions</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/services/networks" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                        <picture>
                                            <source srcset="/-/media/Images/Services/Networks/networks-banner.jpg" />
                                            <img src="/-/media/Images/Services/Networks/networks-banner.jpg" class="" />
                                        </picture>
                                </div>
                                <div class="textWrap">
                                    <h4>Networks</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/services/tisonline" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                        <picture>
                                            <source srcset="/-/media/Images/Services/Banner-images/Tackling-the-housing-crisis.jpg" />
                                            <img src="/-/media/Images/Services/Banner-images/Tackling-the-housing-crisis.jpg" class="" />
                                        </picture>
                                </div>
                                <div class="textWrap">
                                    <h4>TISonline</h4>
                                </div>
                            </a>
                        </div>
        </div>
    </div>
</article>




<article class="row furtherReading contains-3">
    <div class="col">
        <div class="row">
                        <div class="col col-sm-4 readingWrap">
                            <a href="/services/cipfastats" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                        <picture>
                                            <source srcset="/-/media/Images/Services/CIPFAstats/cipfastats-banner.jpg" />
                                            <img src="/-/media/Images/Services/CIPFAstats/cipfastats-banner.jpg" class="" />
                                        </picture>
                                </div>
                                <div class="textWrap">
                                    <h4>VAPNstats</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/services/achieving-finance-excellence-in-policing" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                        <picture>
                                            <source srcset="/-/media/Images/Services/AFEP/AFEPIIHero.jpg" />
                                            <img src="/-/media/Images/Services/AFEP/AFEPIIHero.jpg" class="" />
                                        </picture>
                                </div>
                                <div class="textWrap">
                                    <h4>Achieving Finance Excellence in Policing</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/services/international" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                        <picture>
                                            <source srcset="/-/media/Images/Commercial-themes/international.jpg" />
                                            <img src="/-/media/Images/Commercial-themes/international.jpg" class="" />
                                        </picture>
                                </div>
                                <div class="textWrap">
                                    <h4>International</h4>
                                </div>
                            </a>
                        </div>
        </div>
    </div>
</article>




<article class="row furtherReading contains-3">
    <div class="col">
        <div class="row">
                        <div class="col col-sm-4 readingWrap">
                            <a href="/services/procurement-and-contract-management" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                        <picture>
                                            <source srcset="/-/media/Images/Services/Banner-images/Procuring-with-confidence.jpg" />
                                            <img src="/-/media/Images/Services/Banner-images/Procuring-with-confidence.jpg" class="" />
                                        </picture>
                                </div>
                                <div class="textWrap">
                                    <h4>Procurement and Contract Management</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/services/recruitment" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>Recruitment</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/services/support-for-audit-committees" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                        <picture>
                                            <source srcset="/-/media/Images/Services/Banner-images/GrantIS.jpg" />
                                            <img src="/-/media/Images/Services/Banner-images/GrantIS.jpg" class="" />
                                        </picture>
                                </div>
                                <div class="textWrap">
                                    <h4>Support for audit committees</h4>
                                </div>
                            </a>
                        </div>
        </div>
    </div>
</article>


            </div>

            <div class="col-md-4 flexible-side landingSidebar">
                

        <h2>Access our services</h2>
                <p><a href="/-/media/2739AAB241384A759D2FD5E58E8F7A7F.pdf" target="_blank">Download our services brochure</a></p>
            <p><a href="https://wearec.co/" target="">Our consultancy services</a></p>
                <p><a href="/services/public-finance-magazine" target="">Public Finance Magazine</a></p>
                <p><a href="/services/research" target="">Research</a></p>

            </div>

        </article>
    </section>
    <section class="flexible-bottom">
        
    </section>
</main>
{% endblock %}