{% extends 'base.html' %}

{% load static %}

  {% block content %}
<main class="container landingTheme">
    <section class="flexible-main">
        <article class="row">
            <div class="col">
                <div class="row">
                    <div class="col-md-8">
                        <h1>VAPN Thinks</h1>
                    </div>
                </div>

                
            
            </div>
        </article>
        <article class="row">
            <div class="col-md-8">
                


<div class="imgWrap">
    <img src="/-/media/Images/CIPFA-Thinks/Redesign/CIPFA-Thinks-banner.jpg" alt="" class="img-fluid" />
</div>





<h3>VAPN&rsquo;s thought leadership puts us at the heart of the policy debate &ndash; both within the UK and internationally.</h3>
<p>Equally importantly, our thought leadership also provides public finance professionals globally with insights to help inform their decisions as they themselves seek to protect and improve the communities they serve.</p>

            


<article class="row furtherReading contains-3">
    <div class="col">
        <div class="row">
                        <div class="col col-sm-4 readingWrap">
                            <a href="/cipfa-thinks/articles" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>Articles</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/cipfa-thinks/briefings" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>Briefings</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/cipfa-thinks/keystones" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>Keystones</h4>
                                </div>
                            </a>
                        </div>
        </div>
    </div>
</article>




<article class="row furtherReading contains-3">
    <div class="col">
        <div class="row">
                        <div class="col col-sm-4 readingWrap">
                            <a href="/cipfa-thinks/insight" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>Insight</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/cipfa-thinks/perspectives" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>Perspectives</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col col-sm-4 readingWrap">
                            <a href="/cipfa-thinks/cipfa-speaks" class="readingItem" target="_blank">
                                <div class="imgWrap">
                                </div>
                                <div class="textWrap">
                                    <h4>VAPN Speaks</h4>
                                </div>
                            </a>
                        </div>
        </div>
    </div>
</article>


            </div>

            <div class="col-md-4 flexible-side landingSidebar">
                

        <h2>Find out more</h2>
                <p><a href="/policy-and-guidance/cipfa-bulletins" target="">Bulletins</a></p>
                <p><a href="/training/micro-modules" target="">Micro Modules</a></p>
                <p><a href="/services/networks" target="">Networks</a></p>
                <p><a href="/policy-and-guidance/publications" target="">Publications</a></p>
            <p><a href="https://www.cipfa.org/tisonline" target="">TISonline</a></p>


        <h2>Topics</h2>
                <p><a href="/cipfa-thinks/local-government" target="">Local government</a></p>
                <p><a href="/cipfa-thinks/health" target="">Health</a></p>
                <p><a href="/cipfa-thinks/devolution" target="">Devolution</a></p>

            </div>

        </article>
    </section>
    <section class="flexible-bottom">
        
    </section>
</main>
{% endblock %}